<%- include('partials/header.ejs') -%>

<div class="shopping">
  <div class="side-menu">
    <% shops.forEach(shop => { %>
    <a class="side-menu-item <%= shop.selected ? "selected" : "" %>" href="/shop/select/<%= shop._id %>"><%= shop.name %></a>
    <% }) %>
  </div>
  <div class="product-listing"></div>
</div>

<%- include('partials/footer.ejs') -%>