<%- include('./partials/header.ejs') -%>

<div class="main-content">
  <h3>Journal</h3>

  <div>
    <% items.forEach(item => { %>
      <div class="journal-item">
        <h6><%= item.title %></h6>
        <p><%= `${item.body.slice(0, 100)}...` %></p>
        <a class="btn btn-outline-secondary" href="/item/view/<%= item._id %>">Read more</a>
      </div>
    <% }) %>
  </div>
</div>

<%- include('./partials/footer.ejs') -%>